<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hyc.zhihu">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <application
        android:largeHeap="true"
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Main">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity  android:name=".ui.PictureActivity"></activity>
        <activity android:name=".ui.MonthPictureActivity"></activity>
        <activity android:theme="@style/AppTheme.Details" android:name=".ui.PictureDetailActivity"></activity>
        <activity android:name=".ui.ReadingListActivity"></activity>
        <activity  android:name=".ui.QuestionActivity"></activity>
        <activity  android:name=".ui.SerialActivity"></activity>
        <activity  android:name=".ui.EssayActivity"></activity>
        <activity  android:name=".ui.SerialListActivity"></activity>
        <activity android:name=".ui.ReadingActivity"></activity>
        <activity android:name=".ui.MusicRelateActivity"></activity>
        <activity android:name=".ui.MusicMonthListActivity"></activity>
        <activity android:name=".ui.MusicItemActivity"></activity>
        <activity android:name=".ui.MusicActivity"></activity>
        <activity android:name=".ui.MovieContentActivity"></activity>
        <activity android:name=".ui.MovieStoryActivity"></activity>
        <activity android:name=".ui.MovieListActivity"></activity>
        <activity android:name=".ui.OtherDetailActivity"></activity>
        <activity android:name=".ui.OtherPictureActivity"></activity>
        <activity android:name=".ui.OtherMusicActivity"></activity>
        <activity android:name=".ui.OtherReadingActivity"></activity>
        <service android:name=".player.PlayerService"></service>
        <receiver android:name=".base.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>